<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main menu</title>
</head>
<body>
<h2>Main menu</h2>
<div>
    <a th:href="@{/personal/list-managers}">list of managers</a>
</div>
<div>
    <a th:href="@{/personal/list-factoryWorkers}">list of factoryWorkers</a>
</div>
<div>
    <a th:href="@{/personal/list-storeWorkers}">list of storeWorkers</a>
</div>
<div>
    <a th:href="@{/store/list-resources}">store</a>
</div>
<div>
    <a th:href="@{/gradeBeer/list-beerGrades}">list of beerGrades</a>
</div>
<div>
    <a th:href="@{/query-resource/list-queryResources}">list of queryResources</a>
</div>
<div>
    <a th:href="@{/query-part/list-parts}">list of queryParts</a>
</div>
<div></div>
<div>
    <a th:href="@{/login}">logout</a>

</div>
<div>
    <a th:href="@{/updateUser}">change password</a>
</div>
</body>
</html>