<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
</head>
<body>

<form th:method="POST" th:action="@{/updateUser}" th:object="${user}">
    <label for="login">username : </label>
    <input type="text" th:field="*{username}" id="login">
    <br/>

    <label for="password">password : </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <input type="submit" value="Update"/>
</form>

</body>
</html>