<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New grade beer</title>
</head>
<body>

<form th:method="POST" th:action="@{/gradeBeer/addGradeBeer}" th:object="${gradeBeer}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <label for="cost">Enter cost: </label>
    <input type="number" th:field="*{cost}" id="cost"/>
    <br/>

    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>